<div id="mainSidebar" class="sidebar bg-sidebar collapse d-lg-block"
     th:fragment="layout-sidebar">

    <ul class="list-unstyled">

        <li class="sidebar-title">Menu</li>

        <!-- MENU DINÂMICO -->
        <li th:each="item : ${menu}">

            <!-- HEADER -->
            <a class="sidebar-link d-flex justify-content-between align-items-center"
               data-bs-toggle="collapse"
               th:data-bs-target="'#submenu-' + ${#strings.replace(item.nome,' ','')}">

                <span>
                    <i class="fa me-2" th:classappend="${item.icone}"></i>
                    <span th:text="${item.nome}"></span>
                </span>

                <i class="fa fa-chevron-down small"></i>
            </a>

            <!-- SUBMENU -->
            <ul class="collapse list-unstyled ps-4"
    th:id="'submenu-' + ${#strings.replace(item.nome,' ','')}">

    <li th:each="sub : ${item.filhos}">

        <!-- ITEM COM FILHOS (SUBGRUPO) -->
        <a th:if="${sub.temFilhos()}"
           class="sidebar-link d-flex justify-content-between align-items-center"
           data-bs-toggle="collapse"
           th:data-bs-target="'#submenu-' + ${#strings.replace(sub.nome,' ','')}">

            <span>
                <i class="fa me-2" th:classappend="${sub.icone}"></i>
                <span th:text="${sub.nome}"></span>
            </span>

            <i class="fa fa-chevron-down small"></i>
        </a>

        <!-- ITEM NORMAL -->
        <a th:if="${!sub.temFilhos()}"
           class="sidebar-link"
           th:href="@{${sub.url}}"
           th:text="${sub.nome}">
        </a>

        <!-- SUB-SUBMENU -->
        <ul th:if="${sub.temFilhos()}"
            class="collapse list-unstyled ps-4"
            th:id="'submenu-' + ${#strings.replace(sub.nome,' ','')}">

            <li th:each="sub2 : ${sub.filhos}">
                <a class="sidebar-link"
                   th:href="@{${sub2.url}}"
                   th:text="${sub2.nome}">
                </a>
            </li>

        </ul>

    </li>
</ul>
        </li>

    </ul>
</div>