########################
# MAVEN / BUILD
########################
target/
!.mvn/wrapper/maven-wrapper.jar

########################
# ECLIPSE
########################
.classpath
.project
.settings/
.metadata/
bin/
tmp/

########################
# SPRING TOOLS SUITE (STS)
########################
.springBeans
*.launch

########################
# INTELLIJ IDEA
########################
.idea/
*.iml
*.iws

########################
# LOGS
########################
*.log

########################
# SISTEMA OPERACIONAL
########################
.DS_Store
Thumbs.db

########################
# ARQUIVOS TEMPORÁRIOS
########################
*.swp
*.swo
*.tmp

########################
# GIT ARTEFACTS DESNECESSÁRIOS
########################
*.orig

