.sidebar .list-group-item {
    border: none;
}

.sidebar .collapse .list-group-item {
    padding-left: 30px;
    font-size: 0.95rem;
}

main {
    margin-top: 30px; /* espaço navbar do titulo da pagina */
}

/*centralisando footer*/
footer {
    text-align: center;
    width: 100%;
}
