<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/LayoutPadrao}">

<head>
    <title>Cadastro de cliente</title>
</head>

<section layout:fragment="conteudo">

    <div class="container-fluid mt-4">
        <h1 class="mb-4">Cadastro de cliente</h1>
    </div>

    <div class="container-fluid">

        <form th:action="@{/clientes/salvar}"
              th:object="${cliente}"
              method="post">

            <!-- NOME -->
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="nomeCliente">Nome</label>
                    <input id="nomeCliente"
                           type="text"
                           class="form-control"
                           th:field="*{nomeCliente}"
                           th:classappend="${#fields.hasErrors('nomeCliente')} ? 'is-invalid'"/>

                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('nomeCliente')}"
                         th:errors="*{nomeCliente}">
                    </div>
                </div>
            </div>

            <!-- TIPO PESSOA + DOCUMENTO -->
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Tipo pessoa</label>

                    <div th:classappend="${#fields.hasErrors('tipoPessoa')} ? 'is-invalid'">
                        <label class="me-3">
                            <input type="radio"
                                   th:field="*{tipoPessoa}"
                                   value="FISICA"> Física
                        </label>
                        <label>
                            <input type="radio"
                                   th:field="*{tipoPessoa}"
                                   value="JURIDICA"> Jurídica
                        </label>
                    </div>

                    <div class="invalid-feedback d-block"
                         th:if="${#fields.hasErrors('tipoPessoa')}"
                         th:errors="*{tipoPessoa}">
                    </div>
                </div>

                <div class="form-group col-sm-8">
                    <label for="documento">CPF / CNPJ</label>
                    <input id="documento"
                           class="form-control"
                           th:field="*{documento}"
                           th:classappend="${#fields.hasErrors('documento')} ? 'is-invalid'"/>

                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('documento')}"
                         th:errors="*{documento}">
                    </div>
                </div>
            </div>

            <!-- TELEFONE + EMAIL -->
            <div class="row">
                <div class="form-group col-sm-4">
                    <label for="telefone">Telefone</label>
                    <input id="telefone"
                           class="form-control"
                           th:field="*{telefone}"
                           th:classappend="${#fields.hasErrors('telefone')} ? 'is-invalid'"/>

                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('telefone')}"
                         th:errors="*{telefone}">
                    </div>
                </div>

                <div class="form-group col-sm-8">
                    <label for="email">E-mail</label>
                    <input id="email"
                           class="form-control"
                           th:field="*{email}"
                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"/>

                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}">
                    </div>
                </div>
            </div>

            <!-- ENDEREÇO -->
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Logradouro</label>
                    <input class="form-control"
                           th:field="*{endereco.logradouro}"
                           th:classappend="${#fields.hasErrors('endereco.logradouro')} ? 'is-invalid'"/>

                    <div class="invalid-feedback"
                         th:errors="*{endereco.logradouro}">
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Número</label>
                    <input class="form-control"
                           th:field="*{endereco.numero}"
                           th:classappend="${#fields.hasErrors('endereco.numero')} ? 'is-invalid'"/>

                    <div class="invalid-feedback"
                         th:errors="*{endereco.numero}">
                    </div>
                </div>

                <div class="form-group col-sm-4">
                    <label>Complemento</label>
                    <input class="form-control"
                           th:field="*{endereco.complemento}"
                           th:classappend="${#fields.hasErrors('endereco.complemento')} ? 'is-invalid'"/>

                    <div class="invalid-feedback"
                         th:errors="*{endereco.complemento}">
                    </div>
                </div>
            </div>

            <!-- REGIÃO / ESTADO / IBGE -->
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Região</label>
                    <select class="form-control">
                        <option value="">Selecione</option>
                        <option th:each="r : ${regioes}"
                                th:value="${r.id}"
                                th:text="${r.nomeRegiao}">
                        </option>
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <label>Estado</label>
                    <select class="form-control">
                        <option value="">Selecione</option>
                        <option th:each="e : ${estados}"
                                th:value="${e.id}"
                                th:text="${e.nome}">
                        </option>
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <label>IBGE</label>
                    <input type="text" class="form-control" readonly/>
                </div>
            </div>

            <!-- CIDADE + CEP -->
            <div class="row">
                <div class="form-group col-sm-4">
                    <label>Cidade</label>
                    <select class="form-control"
                            th:field="*{endereco.cidade}">
                        <option value="">Selecione</option>
                        <option th:each="c : ${cidades}"
                                th:value="${c.id}"
                                th:text="${c.nomeCidade}">
                        </option>
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <label>CEP</label>
                    <input type="text"
                           class="form-control"
                           th:field="*{endereco.cep}"
                           th:classappend="${#fields.hasErrors('endereco.cep')} ? 'is-invalid'"/>

                    <div class="invalid-feedback"
                         th:errors="*{endereco.cep}">
                    </div>
                </div>
            </div>

            <br>

            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>

</section>
</html>
