<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">

<body>

	<section layout:fragment="conteudo">

		<div class="container-fluid mt-4">

			<h1 class="mb-4 text-center text-md-start">Cadastro de Cerveja</h1>

			<form method="POST" th:action="@{/cervejas/novo}"
				th:object="${cerveja}">

				<!-- ================= LINHA 1 ================= -->
				<div class="row g-3 mb-3">
				<!-- Id oculto -->
				<input type="hidden" th:field="*{id}" />
				

					<!-- SKU -->
					<div class="col-12 col-sm-2">
						<label for="sku" class="form-label">SKU</label> <input id="sku"
							th:field="*{sku}" class="form-control"
							th:classappend="${#fields.hasErrors('sku')} ? 'is-invalid'" />

						<div class="invalid-feedback" th:if="${#fields.hasErrors('sku')}"
							th:errors="*{sku}"></div>
					</div>

					<!-- NOME -->
					<div class="col-12 col-sm-10">
						<label for="nome" class="form-label">Nome</label> <input id="nome"
							th:field="*{nome}" class="form-control"
							th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />

						<div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}"
							th:errors="*{nome}"></div>
					</div>

				</div>

				<!-- ================= DESCRIÇÃO ================= -->
				<div class="mb-3">
					<label for="descricao" class="form-label">Descrição</label>
					<textarea id="descricao" th:field="*{descricao}" rows="3"
						class="form-control"
						th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'">
                </textarea>

					<div class="invalid-feedback"
						th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">
					</div>
				</div>

				<!-- ================= LINHA 2 ================= -->
				<div class="row g-3 mb-3">

					<!-- ESTILO -->
					<div class="col-12 col-md-3">
						<label for="estilo" class="form-label">Estilo</label>

						<div class="input-group">
							<select id="estilo" th:field="*{estilo.id}" class="form-select"
								th:classappend="${#fields.hasErrors('estilo')} ? 'is-invalid'">
								<option value="">Selecione o estilo</option>
								<option th:each="est : ${estilos}" th:value="${est.id}"
									th:text="${est.nome}"></option>
							</select>

							<button class="btn btn-outline-secondary" type="button"
								data-bs-toggle="modal"
								data-bs-target="#modalCadastroRapidoEstilo">
								<i class="fa fa-plus"></i>
							</button>
						</div>

						<div class="invalid-feedback d-block"
							th:if="${#fields.hasErrors('estilo')}" th:errors="*{estilo}">
						</div>
					</div>

					<!-- SABOR -->
					<div class="col-12 col-md-3">
						<label for="sabor" class="form-label">Sabor</label> <select
							id="sabor" th:field="*{sabor}" class="form-select"
							th:classappend="${#fields.hasErrors('sabor')} ? 'is-invalid'">
							<option value="">Selecione o sabor</option>
							<option
								th:each="s : ${T(com.marchioro.brewer.model.Sabor).values()}"
								th:value="${s}" th:text="${s.descricao}"></option>
						</select>

						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('sabor')}" th:errors="*{sabor}">
						</div>
					</div>

					<!-- TEOR ALCOÓLICO -->
					<!-- TEOR ALCOÓLICO -->
					<div class="col-12 col-md-3">
						<label for="teorAlcoolico" class="form-label">Teor
							alcoólico</label>

						<div class="input-group">
							<input id="teorAlcoolico" th:field="*{teorAlcoolico}"
								class="form-control percent"
								th:classappend="${#fields.hasErrors('teorAlcoolico')} ? 'is-invalid'" />
							<span class="input-group-text">%</span>

							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('teorAlcoolico')}"
								th:errors="*{teorAlcoolico}"></div>
						</div>
					</div>


					<!-- ORIGEM -->
					<div class="col-12 col-md-3">
						<label class="form-label d-block">Origem</label>

						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" th:field="*{origem}"
								value="NACIONAL"> <label class="form-check-label">Nacional</label>
						</div>

						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" th:field="*{origem}"
								value="INTERNACIONAL"> <label class="form-check-label">Internacional</label>
						</div>

						<div class="invalid-feedback d-block"
							th:if="${#fields.hasErrors('origem')}" th:errors="*{origem}">
						</div>
					</div>

				</div>

				<!-- ================= LINHA 3 ================= -->
				<div class="row g-3 mb-3">

					<!-- VALOR -->
					<div class="col-12 col-md-3">
						<label for="valor" class="form-label">Valor</label>
						<div class="input-group">
							<span class="input-group-text">R$</span> <input id="valor"
								th:field="*{valor}" class="form-control money"
								th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'" />
								
								<div class="invalid-feedback" th:if="${#fields.hasErrors('valor')}"
							th:errors="*{valor}"></div>
						</div>
					</div>

					<!-- COMISSÃO -->
					<div class="col-12 col-md-3">
						<label for="comissao" class="form-label">Comissão</label>
						<div class="input-group">
							<input id="comissao" th:field="*{comissao}"
								class="form-control percent" 
								th:classappend="${#fields.hasErrors('comissao')} ? 'is-invalid'"/> 
								<span class="input-group-text">%</span>
								<div class="invalid-feedback"
							th:if="${#fields.hasErrors('comissao')}" th:errors="*{comissao}">
						</div>
						</div>
						
					</div>

					<!-- ESTOQUE -->
					<div class="col-12 col-md-3">
						<label for="estoque" class="form-label">Estoque</label> 
						<input
							id="estoque" th:field="*{quantidadeEstoque}"
							class="form-control integer" 
							th:classappend="${#fields.hasErrors('quantidadeEstoque')} ? 'is-invalid'"/>
							
							<div class="invalid-feedback" th:if="${#fields.hasErrors('quantidadeEstoque')}"
							th:errors="*{quantidadeEstoque}"></div>
					</div>
				</div>

				<button class="btn btn-primary mt-3" type="submit">Salvar</button>

			</form>
		</div>

		<!-- MODAL -->
		<div th:replace="~{estilo/cadastroRapidoEstilo :: modal}"></div>

		<!-- JS Cadastro rápido de estilo -->
		<script th:src="@{/js/cadastro-estilo.js}"></script>

	</section>

</body>
</html>
